<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to CC test</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Push notifications</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        token
      </ion-list-header>
      <ion-input [(ngModel)]="token"></ion-input>
      <br>
      <ion-button mode="ios" (click)="update()" color="primary" expand="block">Update token</ion-button>

    </ion-list>
</ion-content>
